<% var isIndex = page.path === 'index.html' %>
<% var isThemes = page.path === 'resources/themes.html' %>

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%- page.title ? page.title + ' — ' : '' %>Jbone</title>
    <meta charset="utf-8">
    <meta name="description" content="<%- theme.site_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" hreflang="x-default" href="https://jbone.cn/<%- page.path %>">

    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>Jbone">
    <meta property="og:description" content="<%- page.description ? page.description : theme.site_description %>">
    <meta property="og:keywords" content="<%- page.keywords ? page.keywords : theme.keywords %>">

    <meta property="og:image" content="https://<%- theme.root_domain %>/<%- url_for("/images/logo.png") %>">

    <link rel="icon" href="<%- url_for("/images/logo.png") %>" type="image/png">

    <meta name="msapplication-TileColor" content="#4fc08d">
    <meta name="theme-color" content="#4fc08d">

    <meta name="msapplication-config" content="browserconfig.xml">


    <!-- <link href="https://fonts.googleapis.com" rel="preconnect" crossorigin> -->
    <!-- <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com" rel="preconnect" crossorigin> -->

    <!-- <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'> -->
    <!-- <link href='//fonts.googleapis.com/css?family=Dosis:500&text=Vue.js' rel='stylesheet' type='text/css'> -->

    <link href="//code.bdstatic.com/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- main page styles -->
    <%- css(isIndex ? 'css/index' : 'css/page') %>

    <!-- this needs to be loaded before guide's inline scripts -->
    <script src="<%- url_for('/js/vue.js') %>"></script>

    <% if (isThemes) { %>
    <script src="<%- url_for('/js/theme-data.js') %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js" integrity="sha256-LSUpTY0kkXGKvcBC9kbmgibmx3NVVgJvAEfTZbs51mU=" crossorigin="anonymous"></script>
    <% } %>

    <script>
      Vue.config.productionTip = false
      window.PAGE_TYPE = "<%- page.type %>"
    </script>

    <!-- 百度统计 -->
      <script>
          var _hmt = _hmt || [];
          (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?bfc5a5993390f326fda3fcfadfcdb6d7";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
          })();
      </script>

  </head>
  <body class="<%- isIndex ? '' : 'docs' -%>">
    <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
      <a class="menu-button"></a>
      <a class="logo" href="/"></a>
    </div>
    <%- partial('partials/header') %>
    <% if (!isIndex) { %>
      <div id="main" class="fix-sidebar">
        <% if (page.blog_index) { %>
          <%- partial('partials/blog') %>
        <% } else { %>
          <%- body %>
        <% } %>
      </div>
      <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>
    <% } else { %>
      <%- body %>
    <% } %>

    <!-- main custom script for sidebars, version selects etc. -->
    <script src="<%- url_for("/js/css.escape.js") %>"></script>
    <script src="<%- url_for("/js/common.js") %>"></script>

  </body>
</html>
