<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?bf5e4e2a1f519faf831b113c8778381f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!--
<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input" aria-label="搜索">
  </form>
</li>
-->
<%- partial('partials/learn_dropdown') %>
<%- partial('partials/fund_dropdown') %>
<%- partial('partials/translate_dropdown') %>
<%- partial('partials/ecosystem_dropdown') %>
<li><a href="<%- url_for("/contact-author/") %>" target="_blank" class="nav-link contribute">和作者交流</a></li>
