<!--
<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input" aria-label="搜索">
  </form>
</li>
-->
<%- partial('partials/learn_dropdown') %>
<%- partial('partials/fund_dropdown') %>
<%- partial('partials/translate_dropdown') %>
<%- partial('partials/ecosystem_dropdown') %>
<li><a href="<%- url_for("/interview/") %>" target="_blank" class="nav-link contribute">《专家解题1000例》</a></li>
<li><a href="<%- url_for("/contact-author/") %>" target="_blank" class="nav-link contribute">和作者交流</a></li>
