<!--
<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input" aria-label="搜索">
  </form>
</li>
-->
<%- partial('partials/learn_dropdown') %>
<%- partial('partials/ecosystem_dropdown') %>
<%- partial('partials/translate_dropdown') %>
<li><a href="<%- url_for("/support-jbone/") %>" target="_blank" class="nav-link contribute">支持jbone</a></li>
